In [1]:
import pandas as pd

In [2]:
pd.read_excel(r'C:\Users\PC\Desktop\Phython Data Analysis\Python Data Analysis\Academic Success Dataset.xlsx')

,Degree Level,Age,Gender,Hours_sleep,Fees,Extracurricular activities,Bac_type,Bac_grade,GPA,English_level,Attendance,Study,Work,Working hours per week,Work_study_related,Higher_Diploma
0,BA,25,Female,6,Your parents,Rarely,SV,12.0,3.23,Excellent,1.0,Prior to exam,No,0.0,NaN,Yes
1,MBA,23,Female,6,You,Rarely,SE,13.0,2.40,Fair,0.4,Prior to exam,Full time,45.0,No,No
2,BA,21,Female,5,You,Rarely,SE,18.0,4.00,Excellent,1.0,Prior to exam,Part Time,25.0,Yes,Yes
3,BA,19,Female,6,You,Rarely,SE,12.7,2.70,Poor,0.6,Prior to exam,Full time,48.0,No,No
4,BA,20,Female,6,Your parents,Frequently,SE,14.0,3.40,Excellent,0.9,Frequently,Part Time,18.0,No,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,BA,23,Male,8,You,Rarely,SE,11.0,3.30,Excellent,0.7,Prior to exam,Full time,45.0,No,Yes
92,BA,25,Male,9,You,Rarely,BT,11.0,2.40,Excellent,0.4,Prior to exam,Full time,35.0,Yes,No
93,BA,26,Female,8,Your parents,Rarely,SE,12.0,2.50,Excellent,0.6,Prior to exam,Full time,40.0,Yes,No
94,MBA,27,Male,6,You,Frequently,SE,11.0,2.37,Excellent,0.5,Frequently,Full time,60.0,Yes,No
95,BA,22,Male,4,You,Frequently,SV,11.0,2.80,Excellent,0.8,Prior to exam,Full time,48.0,Yes,No

In [3]:
pt=pd.read_excel(r'C:\Users\PC\Desktop\Phython Data Analysis\Python Data Analysis\Academic Success Dataset.xlsx')

In [4]:
pt

,Degree Level,Age,Gender,Hours_sleep,Fees,Extracurricular activities,Bac_type,Bac_grade,GPA,English_level,Attendance,Study,Work,Working hours per week,Work_study_related,Higher_Diploma
0,BA,25,Female,6,Your parents,Rarely,SV,12.0,3.23,Excellent,1.0,Prior to exam,No,0.0,NaN,Yes
1,MBA,23,Female,6,You,Rarely,SE,13.0,2.40,Fair,0.4,Prior to exam,Full time,45.0,No,No
2,BA,21,Female,5,You,Rarely,SE,18.0,4.00,Excellent,1.0,Prior to exam,Part Time,25.0,Yes,Yes
3,BA,19,Female,6,You,Rarely,SE,12.7,2.70,Poor,0.6,Prior to exam,Full time,48.0,No,No
4,BA,20,Female,6,Your parents,Frequently,SE,14.0,3.40,Excellent,0.9,Frequently,Part Time,18.0,No,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,BA,23,Male,8,You,Rarely,SE,11.0,3.30,Excellent,0.7,Prior to exam,Full time,45.0,No,Yes
92,BA,25,Male,9,You,Rarely,BT,11.0,2.40,Excellent,0.4,Prior to exam,Full time,35.0,Yes,No
93,BA,26,Female,8,Your parents,Rarely,SE,12.0,2.50,Excellent,0.6,Prior to exam,Full time,40.0,Yes,No
94,MBA,27,Male,6,You,Frequently,SE,11.0,2.37,Excellent,0.5,Frequently,Full time,60.0,Yes,No
95,BA,22,Male,4,You,Frequently,SV,11.0,2.80,Excellent,0.8,Prior to exam,Full time,48.0,Yes,No

In [5]:
pt.shape

(96, 16)

In [6]:
pt.info

<bound method DataFrame.info of    Degree Level  Age  Gender Hours_sleep          Fees  \
0            BA   25  Female           6  Your parents
1           MBA   23  Female           6           You
2            BA   21  Female           5           You
3            BA   19  Female           6           You
4            BA   20  Female           6  Your parents
..          ...  ...     ...         ...           ...
91           BA   23    Male           8           You
92           BA   25    Male           9           You
93           BA   26  Female           8  Your parents
94          MBA   27    Male           6           You
95           BA   22    Male           4           You

   Extracurricular activities Bac_type  Bac_grade   GPA English_level  \
0                      Rarely       SV       12.0  3.23     Excellent
1                      Rarely       SE       13.0  2.40          Fair
2                      Rarely       SE       18.0  4.00     Excellent
3                      Rarely       SE       12.7  2.70          Poor
4                  Frequently       SE       14.0  3.40     Excellent
..                        ...      ...        ...   ...           ...
91                     Rarely       SE       11.0  3.30     Excellent
92                     Rarely       BT       11.0  2.40     Excellent
93                     Rarely       SE       12.0  2.50     Excellent
94                 Frequently       SE       11.0  2.37     Excellent
95                 Frequently       SV       11.0  2.80     Excellent

    Attendance          Study       Work  Working hours per week  \
0          1.0  Prior to exam         No                     0.0
1          0.4  Prior to exam  Full time                    45.0
2          1.0  Prior to exam  Part Time                    25.0
3          0.6  Prior to exam  Full time                    48.0
4          0.9     Frequently  Part Time                    18.0
..         ...            ...        ...                     ...
91         0.7  Prior to exam  Full time                    45.0
92         0.4  Prior to exam  Full time                    35.0
93         0.6  Prior to exam  Full time                    40.0
94         0.5     Frequently  Full time                    60.0
95         0.8  Prior to exam  Full time                    48.0

   Work_study_related Higher_Diploma
0                 NaN            Yes
1                  No             No
2                 Yes            Yes
3                  No             No
4                  No            Yes
..                ...            ...
91                 No            Yes
92                Yes             No
93                Yes             No
94                Yes             No
95                Yes             No

[96 rows x 16 columns]>

In [7]:
pt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96 entries, 0 to 95
Data columns (total 16 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Degree Level                96 non-null     object
 1   Age                         96 non-null     int64
 2   Gender                      96 non-null     object
 3   Hours_sleep                 96 non-null     object
 4   Fees                        96 non-null     object
 5   Extracurricular activities  96 non-null     object
 6   Bac_type                    96 non-null     object
 7   Bac_grade                   96 non-null     float64
 8   GPA                         96 non-null     float64
 9   English_level               96 non-null     object
 10  Attendance                  96 non-null     float64
 11  Study                       96 non-null     object
 12  Work                        96 non-null     object
 13  Working hours per week      96 non-null     float64
 14  Work_study_related          90 non-null     object
 15  Higher_Diploma              96 non-null     object
dtypes: float64(4), int64(1), object(11)
memory usage: 12.1+ KB

In [9]:
pt.describe()

             Age  Bac_grade        GPA  Attendance  Working hours per week
count  96.000000  96.000000  96.000000   96.000000               96.000000
mean   24.520833  12.263750   3.043229    0.795312               38.671875
std     3.118634   1.598609   0.525099    0.170151               14.265126
min    18.000000  10.000000   1.500000    0.300000                0.000000
25%    22.000000  11.000000   2.700000    0.700000               30.000000
50%    24.500000  12.000000   3.000000    0.850000               40.000000
75%    27.000000  13.000000   3.400000    0.900000               48.000000
max    32.000000  18.000000   4.000000    1.000000               60.000000

In [10]:
pt.isnull()

,Degree Level,Age,Gender,Hours_sleep,Fees,Extracurricular activities,Bac_type,Bac_grade,GPA,English_level,Attendance,Study,Work,Working hours per week,Work_study_related,Higher_Diploma
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
92,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
93,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
94,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
95,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [12]:
pt.isnull

<bound method DataFrame.isnull of    Degree Level  Age  Gender Hours_sleep          Fees  \
0            BA   25  Female           6  Your parents
1           MBA   23  Female           6           You
2            BA   21  Female           5           You
3            BA   19  Female           6           You
4            BA   20  Female           6  Your parents
..          ...  ...     ...         ...           ...
91           BA   23    Male           8           You
92           BA   25    Male           9           You
93           BA   26  Female           8  Your parents
94          MBA   27    Male           6           You
95           BA   22    Male           4           You

   Extracurricular activities Bac_type  Bac_grade   GPA English_level  \
0                      Rarely       SV       12.0  3.23     Excellent
1                      Rarely       SE       13.0  2.40          Fair
2                      Rarely       SE       18.0  4.00     Excellent
3                      Rarely       SE       12.7  2.70          Poor
4                  Frequently       SE       14.0  3.40     Excellent
..                        ...      ...        ...   ...           ...
91                     Rarely       SE       11.0  3.30     Excellent
92                     Rarely       BT       11.0  2.40     Excellent
93                     Rarely       SE       12.0  2.50     Excellent
94                 Frequently       SE       11.0  2.37     Excellent
95                 Frequently       SV       11.0  2.80     Excellent

    Attendance          Study       Work  Working hours per week  \
0          1.0  Prior to exam         No                     0.0
1          0.4  Prior to exam  Full time                    45.0
2          1.0  Prior to exam  Part Time                    25.0
3          0.6  Prior to exam  Full time                    48.0
4          0.9     Frequently  Part Time                    18.0
..         ...            ...        ...                     ...
91         0.7  Prior to exam  Full time                    45.0
92         0.4  Prior to exam  Full time                    35.0
93         0.6  Prior to exam  Full time                    40.0
94         0.5     Frequently  Full time                    60.0
95         0.8  Prior to exam  Full time                    48.0

   Work_study_related Higher_Diploma
0                 NaN            Yes
1                  No             No
2                 Yes            Yes
3                  No             No
4                  No            Yes
..                ...            ...
91                 No            Yes
92                Yes             No
93                Yes             No
94                Yes             No
95                Yes             No

[96 rows x 16 columns]>

In [14]:
pt.isnull().sum()

Degree Level                  0
Age                           0
Gender                        0
Hours_sleep                   0
Fees                          0
Extracurricular activities    0
Bac_type                      0
Bac_grade                     0
GPA                           0
English_level                 0
Attendance                    0
Study                         0
Work                          0
Working hours per week        0
Work_study_related            6
Higher_Diploma                0
dtype: int64

In [15]:
pt.notnull().sum()

Degree Level                  96
Age                           96
Gender                        96
Hours_sleep                   96
Fees                          96
Extracurricular activities    96
Bac_type                      96
Bac_grade                     96
GPA                           96
English_level                 96
Attendance                    96
Study                         96
Work                          96
Working hours per week        96
Work_study_related            90
Higher_Diploma                96
dtype: int64

In [16]:
pt.duplicated().sum()

1

In [18]:
pt.isna().sum()

Degree Level                  0
Age                           0
Gender                        0
Hours_sleep                   0
Fees                          0
Extracurricular activities    0
Bac_type                      0
Bac_grade                     0
GPA                           0
English_level                 0
Attendance                    0
Study                         0
Work                          0
Working hours per week        0
Work_study_related            6
Higher_Diploma                0
dtype: int64

In [19]:
pt.notna().sum()

Degree Level                  96
Age                           96
Gender                        96
Hours_sleep                   96
Fees                          96
Extracurricular activities    96
Bac_type                      96
Bac_grade                     96
GPA                           96
English_level                 96
Attendance                    96
Study                         96
Work                          96
Working hours per week        96
Work_study_related            90
Higher_Diploma                96
dtype: int64

In [20]:
pt.duplicated() #

0     False
1     False
2     False
3     False
4     False
      ...
91    False
92    False
93    False
94    False
95    False
Length: 96, dtype: bool

## pt.drop_duplcates(inplace=True) #affects the original data
#pt.drop_duplcates(subset='paying customer') #dropping duplicates specified columns

In [21]:
pt

,Degree Level,Age,Gender,Hours_sleep,Fees,Extracurricular activities,Bac_type,Bac_grade,GPA,English_level,Attendance,Study,Work,Working hours per week,Work_study_related,Higher_Diploma
0,BA,25,Female,6,Your parents,Rarely,SV,12.0,3.23,Excellent,1.0,Prior to exam,No,0.0,NaN,Yes
1,MBA,23,Female,6,You,Rarely,SE,13.0,2.40,Fair,0.4,Prior to exam,Full time,45.0,No,No
2,BA,21,Female,5,You,Rarely,SE,18.0,4.00,Excellent,1.0,Prior to exam,Part Time,25.0,Yes,Yes
3,BA,19,Female,6,You,Rarely,SE,12.7,2.70,Poor,0.6,Prior to exam,Full time,48.0,No,No
4,BA,20,Female,6,Your parents,Frequently,SE,14.0,3.40,Excellent,0.9,Frequently,Part Time,18.0,No,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,BA,23,Male,8,You,Rarely,SE,11.0,3.30,Excellent,0.7,Prior to exam,Full time,45.0,No,Yes
92,BA,25,Male,9,You,Rarely,BT,11.0,2.40,Excellent,0.4,Prior to exam,Full time,35.0,Yes,No
93,BA,26,Female,8,Your parents,Rarely,SE,12.0,2.50,Excellent,0.6,Prior to exam,Full time,40.0,Yes,No
94,MBA,27,Male,6,You,Frequently,SE,11.0,2.37,Excellent,0.5,Frequently,Full time,60.0,Yes,No
95,BA,22,Male,4,You,Frequently,SV,11.0,2.80,Excellent,0.8,Prior to exam,Full time,48.0,Yes,No

In [23]:
pt.drop_duplicates()

,Degree Level,Age,Gender,Hours_sleep,Fees,Extracurricular activities,Bac_type,Bac_grade,GPA,English_level,Attendance,Study,Work,Working hours per week,Work_study_related,Higher_Diploma
0,BA,25,Female,6,Your parents,Rarely,SV,12.0,3.23,Excellent,1.0,Prior to exam,No,0.0,NaN,Yes
1,MBA,23,Female,6,You,Rarely,SE,13.0,2.40,Fair,0.4,Prior to exam,Full time,45.0,No,No
2,BA,21,Female,5,You,Rarely,SE,18.0,4.00,Excellent,1.0,Prior to exam,Part Time,25.0,Yes,Yes
3,BA,19,Female,6,You,Rarely,SE,12.7,2.70,Poor,0.6,Prior to exam,Full time,48.0,No,No
4,BA,20,Female,6,Your parents,Frequently,SE,14.0,3.40,Excellent,0.9,Frequently,Part Time,18.0,No,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,BA,23,Male,8,You,Rarely,SE,11.0,3.30,Excellent,0.7,Prior to exam,Full time,45.0,No,Yes
92,BA,25,Male,9,You,Rarely,BT,11.0,2.40,Excellent,0.4,Prior to exam,Full time,35.0,Yes,No
93,BA,26,Female,8,Your parents,Rarely,SE,12.0,2.50,Excellent,0.6,Prior to exam,Full time,40.0,Yes,No
94,MBA,27,Male,6,You,Frequently,SE,11.0,2.37,Excellent,0.5,Frequently,Full time,60.0,Yes,No
95,BA,22,Male,4,You,Frequently,SV,11.0,2.80,Excellent,0.8,Prior to exam,Full time,48.0,Yes,No

In [24]:
pt.drop_duplicates(inplace=True)

In [25]:
pt

,Degree Level,Age,Gender,Hours_sleep,Fees,Extracurricular activities,Bac_type,Bac_grade,GPA,English_level,Attendance,Study,Work,Working hours per week,Work_study_related,Higher_Diploma
0,BA,25,Female,6,Your parents,Rarely,SV,12.0,3.23,Excellent,1.0,Prior to exam,No,0.0,NaN,Yes
1,MBA,23,Female,6,You,Rarely,SE,13.0,2.40,Fair,0.4,Prior to exam,Full time,45.0,No,No
2,BA,21,Female,5,You,Rarely,SE,18.0,4.00,Excellent,1.0,Prior to exam,Part Time,25.0,Yes,Yes
3,BA,19,Female,6,You,Rarely,SE,12.7,2.70,Poor,0.6,Prior to exam,Full time,48.0,No,No
4,BA,20,Female,6,Your parents,Frequently,SE,14.0,3.40,Excellent,0.9,Frequently,Part Time,18.0,No,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,BA,23,Male,8,You,Rarely,SE,11.0,3.30,Excellent,0.7,Prior to exam,Full time,45.0,No,Yes
92,BA,25,Male,9,You,Rarely,BT,11.0,2.40,Excellent,0.4,Prior to exam,Full time,35.0,Yes,No
93,BA,26,Female,8,Your parents,Rarely,SE,12.0,2.50,Excellent,0.6,Prior to exam,Full time,40.0,Yes,No
94,MBA,27,Male,6,You,Frequently,SE,11.0,2.37,Excellent,0.5,Frequently,Full time,60.0,Yes,No
95,BA,22,Male,4,You,Frequently,SV,11.0,2.80,Excellent,0.8,Prior to exam,Full time,48.0,Yes,No

In [27]:
pt.drop_duplicates(subset='Extracurricular activities') #Please can u explain more on dropping dupplicates

,Degree Level,Age,Gender,Hours_sleep,Fees,Extracurricular activities,Bac_type,Bac_grade,GPA,English_level,Attendance,Study,Work,Working hours per week,Work_study_related,Higher_Diploma
0,BA,25,Female,6,Your parents,Rarely,SV,12.0,3.23,Excellent,1.0,Prior to exam,No,0.0,NaN,Yes
4,BA,20,Female,6,Your parents,Frequently,SE,14.0,3.40,Excellent,0.9,Frequently,Part Time,18.0,No,Yes
5,BA,21,Male,4,You,Never,SV,12.5,3.50,Excellent,0.5,Prior to exam,Full time,40.0,Yes,Yes

In [28]:
pt.drop_duplicates(subset='English_level')

,Degree Level,Age,Gender,Hours_sleep,Fees,Extracurricular activities,Bac_type,Bac_grade,GPA,English_level,Attendance,Study,Work,Working hours per week,Work_study_related,Higher_Diploma
0,BA,25,Female,6,Your parents,Rarely,SV,12.0,3.23,Excellent,1.0,Prior to exam,No,0.0,NaN,Yes
1,MBA,23,Female,6,You,Rarely,SE,13.0,2.40,Fair,0.4,Prior to exam,Full time,45.0,No,No
3,BA,19,Female,6,You,Rarely,SE,12.7,2.70,Poor,0.6,Prior to exam,Full time,48.0,No,No

In [29]:
pt.drop(columns='Fees') #dropping a single columns

,Degree Level,Age,Gender,Hours_sleep,Extracurricular activities,Bac_type,Bac_grade,GPA,English_level,Attendance,Study,Work,Working hours per week,Work_study_related,Higher_Diploma
0,BA,25,Female,6,Rarely,SV,12.0,3.23,Excellent,1.0,Prior to exam,No,0.0,NaN,Yes
1,MBA,23,Female,6,Rarely,SE,13.0,2.40,Fair,0.4,Prior to exam,Full time,45.0,No,No
2,BA,21,Female,5,Rarely,SE,18.0,4.00,Excellent,1.0,Prior to exam,Part Time,25.0,Yes,Yes
3,BA,19,Female,6,Rarely,SE,12.7,2.70,Poor,0.6,Prior to exam,Full time,48.0,No,No
4,BA,20,Female,6,Frequently,SE,14.0,3.40,Excellent,0.9,Frequently,Part Time,18.0,No,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,BA,23,Male,8,Rarely,SE,11.0,3.30,Excellent,0.7,Prior to exam,Full time,45.0,No,Yes
92,BA,25,Male,9,Rarely,BT,11.0,2.40,Excellent,0.4,Prior to exam,Full time,35.0,Yes,No
93,BA,26,Female,8,Rarely,SE,12.0,2.50,Excellent,0.6,Prior to exam,Full time,40.0,Yes,No
94,MBA,27,Male,6,Frequently,SE,11.0,2.37,Excellent,0.5,Frequently,Full time,60.0,Yes,No
95,BA,22,Male,4,Frequently,SV,11.0,2.80,Excellent,0.8,Prior to exam,Full time,48.0,Yes,No

In [31]:
pt.drop(index=[1,3,5,7,8,12,15]) #dropping multiple index N.B the selected index will be dropped

,Degree Level,Age,Gender,Hours_sleep,Fees,Extracurricular activities,Bac_type,Bac_grade,GPA,English_level,Attendance,Study,Work,Working hours per week,Work_study_related,Higher_Diploma
0,BA,25,Female,6,Your parents,Rarely,SV,12.0,3.23,Excellent,1.0,Prior to exam,No,0.0,NaN,Yes
2,BA,21,Female,5,You,Rarely,SE,18.0,4.00,Excellent,1.0,Prior to exam,Part Time,25.0,Yes,Yes
4,BA,20,Female,6,Your parents,Frequently,SE,14.0,3.40,Excellent,0.9,Frequently,Part Time,18.0,No,Yes
6,BA,18,Male,9,You,Rarely,SE,11.0,3.75,Fair,0.9,Prior to exam,Part Time,23.0,No,Yes
9,MBA,23,Female,8,You,Frequently,SV,12.0,3.00,Excellent,0.9,Frequently,Full time,45.0,No,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,BA,23,Male,8,You,Rarely,SE,11.0,3.30,Excellent,0.7,Prior to exam,Full time,45.0,No,Yes
92,BA,25,Male,9,You,Rarely,BT,11.0,2.40,Excellent,0.4,Prior to exam,Full time,35.0,Yes,No
93,BA,26,Female,8,Your parents,Rarely,SE,12.0,2.50,Excellent,0.6,Prior to exam,Full time,40.0,Yes,No
94,MBA,27,Male,6,You,Frequently,SE,11.0,2.37,Excellent,0.5,Frequently,Full time,60.0,Yes,No
95,BA,22,Male,4,You,Frequently,SV,11.0,2.80,Excellent,0.8,Prior to exam,Full time,48.0,Yes,No

In [34]:
pt.drop(index=[5,9,14,20,25,30,40,80])

,Degree Level,Age,Gender,Hours_sleep,Fees,Extracurricular activities,Bac_type,Bac_grade,GPA,English_level,Attendance,Study,Work,Working hours per week,Work_study_related,Higher_Diploma
0,BA,25,Female,6,Your parents,Rarely,SV,12.0,3.23,Excellent,1.0,Prior to exam,No,0.0,NaN,Yes
1,MBA,23,Female,6,You,Rarely,SE,13.0,2.40,Fair,0.4,Prior to exam,Full time,45.0,No,No
2,BA,21,Female,5,You,Rarely,SE,18.0,4.00,Excellent,1.0,Prior to exam,Part Time,25.0,Yes,Yes
3,BA,19,Female,6,You,Rarely,SE,12.7,2.70,Poor,0.6,Prior to exam,Full time,48.0,No,No
4,BA,20,Female,6,Your parents,Frequently,SE,14.0,3.40,Excellent,0.9,Frequently,Part Time,18.0,No,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,BA,23,Male,8,You,Rarely,SE,11.0,3.30,Excellent,0.7,Prior to exam,Full time,45.0,No,Yes
92,BA,25,Male,9,You,Rarely,BT,11.0,2.40,Excellent,0.4,Prior to exam,Full time,35.0,Yes,No
93,BA,26,Female,8,Your parents,Rarely,SE,12.0,2.50,Excellent,0.6,Prior to exam,Full time,40.0,Yes,No
94,MBA,27,Male,6,You,Frequently,SE,11.0,2.37,Excellent,0.5,Frequently,Full time,60.0,Yes,No
95,BA,22,Male,4,You,Frequently,SV,11.0,2.80,Excellent,0.8,Prior to exam,Full time,48.0,Yes,No

In [36]:
pt.drop(columns=['Gender','Study']) #dropping multiple columns

,Degree Level,Age,Hours_sleep,Fees,Extracurricular activities,Bac_type,Bac_grade,GPA,English_level,Attendance,Work,Working hours per week,Work_study_related,Higher_Diploma
0,BA,25,6,Your parents,Rarely,SV,12.0,3.23,Excellent,1.0,No,0.0,NaN,Yes
1,MBA,23,6,You,Rarely,SE,13.0,2.40,Fair,0.4,Full time,45.0,No,No
2,BA,21,5,You,Rarely,SE,18.0,4.00,Excellent,1.0,Part Time,25.0,Yes,Yes
3,BA,19,6,You,Rarely,SE,12.7,2.70,Poor,0.6,Full time,48.0,No,No
4,BA,20,6,Your parents,Frequently,SE,14.0,3.40,Excellent,0.9,Part Time,18.0,No,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,BA,23,8,You,Rarely,SE,11.0,3.30,Excellent,0.7,Full time,45.0,No,Yes
92,BA,25,9,You,Rarely,BT,11.0,2.40,Excellent,0.4,Full time,35.0,Yes,No
93,BA,26,8,Your parents,Rarely,SE,12.0,2.50,Excellent,0.6,Full time,40.0,Yes,No
94,MBA,27,6,You,Frequently,SE,11.0,2.37,Excellent,0.5,Full time,60.0,Yes,No
95,BA,22,4,You,Frequently,SV,11.0,2.80,Excellent,0.8,Full time,48.0,Yes,No

In [37]:
pt.drop(columns=['Gender','Study','Higher_Diploma'])

,Degree Level,Age,Hours_sleep,Fees,Extracurricular activities,Bac_type,Bac_grade,GPA,English_level,Attendance,Work,Working hours per week,Work_study_related
0,BA,25,6,Your parents,Rarely,SV,12.0,3.23,Excellent,1.0,No,0.0,NaN
1,MBA,23,6,You,Rarely,SE,13.0,2.40,Fair,0.4,Full time,45.0,No
2,BA,21,5,You,Rarely,SE,18.0,4.00,Excellent,1.0,Part Time,25.0,Yes
3,BA,19,6,You,Rarely,SE,12.7,2.70,Poor,0.6,Full time,48.0,No
4,BA,20,6,Your parents,Frequently,SE,14.0,3.40,Excellent,0.9,Part Time,18.0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,BA,23,8,You,Rarely,SE,11.0,3.30,Excellent,0.7,Full time,45.0,No
92,BA,25,9,You,Rarely,BT,11.0,2.40,Excellent,0.4,Full time,35.0,Yes
93,BA,26,8,Your parents,Rarely,SE,12.0,2.50,Excellent,0.6,Full time,40.0,Yes
94,MBA,27,6,You,Frequently,SE,11.0,2.37,Excellent,0.5,Full time,60.0,Yes
95,BA,22,4,You,Frequently,SV,11.0,2.80,Excellent,0.8,Full time,48.0,Yes

## CHANGING THE CASE IN A CATEGORICAL FEATURE (changing from small letter to capital and vice versa)

In [38]:
pt['Fees']=pt['Fees'].str.upper()

In [58]:
pt

,Degree Level,Age,Gender,Hours_sleep,Fees,Extracurricular activities,Bac_type,Bac_grade,GPA,English_level,Attendance,Study,Work,Working hours per week,Work_study_related,Higher_Diploma
71,BA,25,MALE,5,your parents,Rarely,SE,11.00,2.70,Fair,0.9,Frequently,Full time,40.0,No,No
72,BA,24,FEMALE,7,your parents,Rarely,SE,10.00,2.50,Fair,0.8,Prior to exam,Full time,40.0,No,Yes
73,BA,21,FEMALE,7,you,Rarely,BT,11.00,3.00,Fair,0.7,Frequently,Full time,50.0,No,No
74,BA,25,FEMALE,7,you,Rarely,SE,11.00,1.50,Excellent,0.7,Prior to exam,Full time,45.0,Yes,No
75,BA,26,FEMALE,7,you,Frequently,SE,12.00,2.60,Fair,0.4,Prior to exam,Full time,35.0,No,No
76,BA,23,FEMALE,6,you,Rarely,SV,12.27,3.81,Excellent,0.9,Prior to exam,Part Time,30.0,No,Yes
77,BA,27,MALE,6,you,Frequently,SE,13.00,3.60,Excellent,0.7,Prior to exam,No,0.0,NaN,Yes
78,BA,24,MALE,6,you,Rarely,SG,11.00,2.90,Excellent,0.5,Prior to exam,Full time,51.0,Yes,No
79,BA,25,MALE,7,you,Rarely,SG,12.00,2.70,Fair,0.5,Prior to exam,Part Time,30.0,No,No
80,BA,25,FEMALE,7,you,Rarely,SE,12.00,2.90,Fair,0.7,Prior to exam,Full time,60.0,Yes,Yes
81,BA,27,MALE,6,you,Rarely,SV,14.00,3.85,Excellent,1.0,Frequently,Full time,55.0,Yes,Yes
82,BA,26,MALE,7,you,Frequently,SE,13.00,3.20,Fair,0.9,Prior to exam,Full time,54.0,Yes,No
83,BA,26,MALE,6,you,Frequently,SE,12.60,2.60,Excellent,0.6,Prior to exam,Full time,40.0,No,No
84,BA,26,FEMALE,6,you,Rarely,SE,13.00,2.70,Excellent,0.9,Prior to exam,Full time,40.0,No,No
85,MBA,23,FEMALE,7,you,Frequently,SV,11.00,3.30,Excellent,0.9,Frequently,Part Time,30.0,No,Yes
86,BA,23,FEMALE,7,you,Rarely,SE,13.00,3.20,Fair,0.9,Frequently,Part Time,30.0,No,Yes
87,BA,19,MALE,//6,you,Frequently,BT,13.00,2.80,Excellent,0.7,Prior to exam,Full time,45.0,No,No
88,BA,24,FEMALE,6,your parents,Rarely,SE,12.00,3.00,Fair,0.7,Prior to exam,Full time,56.0,No,No
89,MBA,24,MALE,8,your parents,Rarely,SE,11.10,3.00,Fair,0.7,Prior to exam,Full time,45.0,Yes,No
90,BA,29,MALE,6,you,Rarely,SG,13.00,2.50,Fair,0.3,Prior to exam,Full time,40.0,Yes,No

In [40]:
pt['Fees']=pt['Fees'].str.lower()

In [41]:
pt

,Degree Level,Age,Gender,Hours_sleep,Fees,Extracurricular activities,Bac_type,Bac_grade,GPA,English_level,Attendance,Study,Work,Working hours per week,Work_study_related,Higher_Diploma
0,BA,25,Female,6,your parents,Rarely,SV,12.0,3.23,Excellent,1.0,Prior to exam,No,0.0,NaN,Yes
1,MBA,23,Female,6,you,Rarely,SE,13.0,2.40,Fair,0.4,Prior to exam,Full time,45.0,No,No
2,BA,21,Female,5,you,Rarely,SE,18.0,4.00,Excellent,1.0,Prior to exam,Part Time,25.0,Yes,Yes
3,BA,19,Female,6,you,Rarely,SE,12.7,2.70,Poor,0.6,Prior to exam,Full time,48.0,No,No
4,BA,20,Female,6,your parents,Frequently,SE,14.0,3.40,Excellent,0.9,Frequently,Part Time,18.0,No,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,BA,23,Male,8,you,Rarely,SE,11.0,3.30,Excellent,0.7,Prior to exam,Full time,45.0,No,Yes
92,BA,25,Male,9,you,Rarely,BT,11.0,2.40,Excellent,0.4,Prior to exam,Full time,35.0,Yes,No
93,BA,26,Female,8,your parents,Rarely,SE,12.0,2.50,Excellent,0.6,Prior to exam,Full time,40.0,Yes,No
94,MBA,27,Male,6,you,Frequently,SE,11.0,2.37,Excellent,0.5,Frequently,Full time,60.0,Yes,No
95,BA,22,Male,4,you,Frequently,SV,11.0,2.80,Excellent,0.8,Prior to exam,Full time,48.0,Yes,No

In [42]:
pt['Gender']=pt['Gender'].str.upper()

In [43]:
pt

,Degree Level,Age,Gender,Hours_sleep,Fees,Extracurricular activities,Bac_type,Bac_grade,GPA,English_level,Attendance,Study,Work,Working hours per week,Work_study_related,Higher_Diploma
0,BA,25,FEMALE,6,your parents,Rarely,SV,12.0,3.23,Excellent,1.0,Prior to exam,No,0.0,NaN,Yes
1,MBA,23,FEMALE,6,you,Rarely,SE,13.0,2.40,Fair,0.4,Prior to exam,Full time,45.0,No,No
2,BA,21,FEMALE,5,you,Rarely,SE,18.0,4.00,Excellent,1.0,Prior to exam,Part Time,25.0,Yes,Yes
3,BA,19,FEMALE,6,you,Rarely,SE,12.7,2.70,Poor,0.6,Prior to exam,Full time,48.0,No,No
4,BA,20,FEMALE,6,your parents,Frequently,SE,14.0,3.40,Excellent,0.9,Frequently,Part Time,18.0,No,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,BA,23,MALE,8,you,Rarely,SE,11.0,3.30,Excellent,0.7,Prior to exam,Full time,45.0,No,Yes
92,BA,25,MALE,9,you,Rarely,BT,11.0,2.40,Excellent,0.4,Prior to exam,Full time,35.0,Yes,No
93,BA,26,FEMALE,8,your parents,Rarely,SE,12.0,2.50,Excellent,0.6,Prior to exam,Full time,40.0,Yes,No
94,MBA,27,MALE,6,you,Frequently,SE,11.0,2.37,Excellent,0.5,Frequently,Full time,60.0,Yes,No
95,BA,22,MALE,4,you,Frequently,SV,11.0,2.80,Excellent,0.8,Prior to exam,Full time,48.0,Yes,No

### L STRIP AND R STRIP METHOD

In [57]:
pt

,Degree Level,Age,Gender,Hours_sleep,Fees,Extracurricular activities,Bac_type,Bac_grade,GPA,English_level,Attendance,Study,Work,Working hours per week,Work_study_related,Higher_Diploma
71,BA,25,MALE,5,your parents,Rarely,SE,11.00,2.70,Fair,0.9,Frequently,Full time,40.0,No,No
72,BA,24,FEMALE,7,your parents,Rarely,SE,10.00,2.50,Fair,0.8,Prior to exam,Full time,40.0,No,Yes
73,BA,21,FEMALE,7,you,Rarely,BT,11.00,3.00,Fair,0.7,Frequently,Full time,50.0,No,No
74,BA,25,FEMALE,7,you,Rarely,SE,11.00,1.50,Excellent,0.7,Prior to exam,Full time,45.0,Yes,No
75,BA,26,FEMALE,7,you,Frequently,SE,12.00,2.60,Fair,0.4,Prior to exam,Full time,35.0,No,No
76,BA,23,FEMALE,6,you,Rarely,SV,12.27,3.81,Excellent,0.9,Prior to exam,Part Time,30.0,No,Yes
77,BA,27,MALE,6,you,Frequently,SE,13.00,3.60,Excellent,0.7,Prior to exam,No,0.0,NaN,Yes
78,BA,24,MALE,6,you,Rarely,SG,11.00,2.90,Excellent,0.5,Prior to exam,Full time,51.0,Yes,No
79,BA,25,MALE,7,you,Rarely,SG,12.00,2.70,Fair,0.5,Prior to exam,Part Time,30.0,No,No
80,BA,25,FEMALE,7,you,Rarely,SE,12.00,2.90,Fair,0.7,Prior to exam,Full time,60.0,Yes,Yes
81,BA,27,MALE,6,you,Rarely,SV,14.00,3.85,Excellent,1.0,Frequently,Full time,55.0,Yes,Yes
82,BA,26,MALE,7,you,Frequently,SE,13.00,3.20,Fair,0.9,Prior to exam,Full time,54.0,Yes,No
83,BA,26,MALE,6,you,Frequently,SE,12.60,2.60,Excellent,0.6,Prior to exam,Full time,40.0,No,No
84,BA,26,FEMALE,6,you,Rarely,SE,13.00,2.70,Excellent,0.9,Prior to exam,Full time,40.0,No,No
85,MBA,23,FEMALE,7,you,Frequently,SV,11.00,3.30,Excellent,0.9,Frequently,Part Time,30.0,No,Yes
86,BA,23,FEMALE,7,you,Rarely,SE,13.00,3.20,Fair,0.9,Frequently,Part Time,30.0,No,Yes
87,BA,19,MALE,//6,you,Frequently,BT,13.00,2.80,Excellent,0.7,Prior to exam,Full time,45.0,No,No
88,BA,24,FEMALE,6,your parents,Rarely,SE,12.00,3.00,Fair,0.7,Prior to exam,Full time,56.0,No,No
89,MBA,24,MALE,8,your parents,Rarely,SE,11.10,3.00,Fair,0.7,Prior to exam,Full time,45.0,Yes,No
90,BA,29,MALE,6,you,Rarely,SG,13.00,2.50,Fair,0.3,Prior to exam,Full time,40.0,Yes,No

In [46]:
pt.tail(10)

,Degree Level,Age,Gender,Hours_sleep,Fees,Extracurricular activities,Bac_type,Bac_grade,GPA,English_level,Attendance,Study,Work,Working hours per week,Work_study_related,Higher_Diploma
86,BA,23,FEMALE,7,you,Rarely,SE,13.0,3.20,Fair,0.9,Frequently,Part Time,30.0,No,Yes
87,BA,19,MALE,//6,you,Frequently,BT,13.0,2.80,Excellent,0.7,Prior to exam,Full time,45.0,No,No
88,BA,24,FEMALE,6,your parents,Rarely,SE,12.0,3.00,Fair,0.7,Prior to exam,Full time,56.0,No,No
89,MBA,24,MALE,8,your parents,Rarely,SE,11.1,3.00,Fair,0.7,Prior to exam,Full time,45.0,Yes,No
90,BA,29,MALE,6,you,Rarely,SG,13.0,2.50,Fair,0.3,Prior to exam,Full time,40.0,Yes,No
91,BA,23,MALE,8,you,Rarely,SE,11.0,3.30,Excellent,0.7,Prior to exam,Full time,45.0,No,Yes
92,BA,25,MALE,9,you,Rarely,BT,11.0,2.40,Excellent,0.4,Prior to exam,Full time,35.0,Yes,No
93,BA,26,FEMALE,8,your parents,Rarely,SE,12.0,2.50,Excellent,0.6,Prior to exam,Full time,40.0,Yes,No
94,MBA,27,MALE,6,you,Frequently,SE,11.0,2.37,Excellent,0.5,Frequently,Full time,60.0,Yes,No
95,BA,22,MALE,4,you,Frequently,SV,11.0,2.80,Excellent,0.8,Prior to exam,Full time,48.0,Yes,No

In [55]:
pt=pt.head(20)

In [56]:
pt

,Degree Level,Age,Gender,Hours_sleep,Fees,Extracurricular activities,Bac_type,Bac_grade,GPA,English_level,Attendance,Study,Work,Working hours per week,Work_study_related,Higher_Diploma
71,BA,25,MALE,5,your parents,Rarely,SE,11.00,2.70,Fair,0.9,Frequently,Full time,40.0,No,No
72,BA,24,FEMALE,7,your parents,Rarely,SE,10.00,2.50,Fair,0.8,Prior to exam,Full time,40.0,No,Yes
73,BA,21,FEMALE,7,you,Rarely,BT,11.00,3.00,Fair,0.7,Frequently,Full time,50.0,No,No
74,BA,25,FEMALE,7,you,Rarely,SE,11.00,1.50,Excellent,0.7,Prior to exam,Full time,45.0,Yes,No
75,BA,26,FEMALE,7,you,Frequently,SE,12.00,2.60,Fair,0.4,Prior to exam,Full time,35.0,No,No
76,BA,23,FEMALE,6,you,Rarely,SV,12.27,3.81,Excellent,0.9,Prior to exam,Part Time,30.0,No,Yes
77,BA,27,MALE,6,you,Frequently,SE,13.00,3.60,Excellent,0.7,Prior to exam,No,0.0,NaN,Yes
78,BA,24,MALE,6,you,Rarely,SG,11.00,2.90,Excellent,0.5,Prior to exam,Full time,51.0,Yes,No
79,BA,25,MALE,7,you,Rarely,SG,12.00,2.70,Fair,0.5,Prior to exam,Part Time,30.0,No,No
80,BA,25,FEMALE,7,you,Rarely,SE,12.00,2.90,Fair,0.7,Prior to exam,Full time,60.0,Yes,Yes
81,BA,27,MALE,6,you,Rarely,SV,14.00,3.85,Excellent,1.0,Frequently,Full time,55.0,Yes,Yes
82,BA,26,MALE,7,you,Frequently,SE,13.00,3.20,Fair,0.9,Prior to exam,Full time,54.0,Yes,No
83,BA,26,MALE,6,you,Frequently,SE,12.60,2.60,Excellent,0.6,Prior to exam,Full time,40.0,No,No
84,BA,26,FEMALE,6,you,Rarely,SE,13.00,2.70,Excellent,0.9,Prior to exam,Full time,40.0,No,No
85,MBA,23,FEMALE,7,you,Frequently,SV,11.00,3.30,Excellent,0.9,Frequently,Part Time,30.0,No,Yes
86,BA,23,FEMALE,7,you,Rarely,SE,13.00,3.20,Fair,0.9,Frequently,Part Time,30.0,No,Yes
87,BA,19,MALE,//6,you,Frequently,BT,13.00,2.80,Excellent,0.7,Prior to exam,Full time,45.0,No,No
88,BA,24,FEMALE,6,your parents,Rarely,SE,12.00,3.00,Fair,0.7,Prior to exam,Full time,56.0,No,No
89,MBA,24,MALE,8,your parents,Rarely,SE,11.10,3.00,Fair,0.7,Prior to exam,Full time,45.0,Yes,No
90,BA,29,MALE,6,you,Rarely,SG,13.00,2.50,Fair,0.3,Prior to exam,Full time,40.0,Yes,No

In [50]:
pt=pt.tail(25) #How do we clean a single column and also how do we bring out the clean dataset

In [51]:
pt

,Degree Level,Age,Gender,Hours_sleep,Fees,Extracurricular activities,Bac_type,Bac_grade,GPA,English_level,Attendance,Study,Work,Working hours per week,Work_study_related,Higher_Diploma
71,BA,25,MALE,5,your parents,Rarely,SE,11.00,2.70,Fair,0.9,Frequently,Full time,40.0,No,No
72,BA,24,FEMALE,7,your parents,Rarely,SE,10.00,2.50,Fair,0.8,Prior to exam,Full time,40.0,No,Yes
73,BA,21,FEMALE,7,you,Rarely,BT,11.00,3.00,Fair,0.7,Frequently,Full time,50.0,No,No
74,BA,25,FEMALE,7,you,Rarely,SE,11.00,1.50,Excellent,0.7,Prior to exam,Full time,45.0,Yes,No
75,BA,26,FEMALE,7,you,Frequently,SE,12.00,2.60,Fair,0.4,Prior to exam,Full time,35.0,No,No
76,BA,23,FEMALE,6,you,Rarely,SV,12.27,3.81,Excellent,0.9,Prior to exam,Part Time,30.0,No,Yes
77,BA,27,MALE,6,you,Frequently,SE,13.00,3.60,Excellent,0.7,Prior to exam,No,0.0,NaN,Yes
78,BA,24,MALE,6,you,Rarely,SG,11.00,2.90,Excellent,0.5,Prior to exam,Full time,51.0,Yes,No
79,BA,25,MALE,7,you,Rarely,SG,12.00,2.70,Fair,0.5,Prior to exam,Part Time,30.0,No,No
80,BA,25,FEMALE,7,you,Rarely,SE,12.00,2.90,Fair,0.7,Prior to exam,Full time,60.0,Yes,Yes
81,BA,27,MALE,6,you,Rarely,SV,14.00,3.85,Excellent,1.0,Frequently,Full time,55.0,Yes,Yes
82,BA,26,MALE,7,you,Frequently,SE,13.00,3.20,Fair,0.9,Prior to exam,Full time,54.0,Yes,No
83,BA,26,MALE,6,you,Frequently,SE,12.60,2.60,Excellent,0.6,Prior to exam,Full time,40.0,No,No
84,BA,26,FEMALE,6,you,Rarely,SE,13.00,2.70,Excellent,0.9,Prior to exam,Full time,40.0,No,No
85,MBA,23,FEMALE,7,you,Frequently,SV,11.00,3.30,Excellent,0.9,Frequently,Part Time,30.0,No,Yes
86,BA,23,FEMALE,7,you,Rarely,SE,13.00,3.20,Fair,0.9,Frequently,Part Time,30.0,No,Yes
87,BA,19,MALE,//6,you,Frequently,BT,13.00,2.80,Excellent,0.7,Prior to exam,Full time,45.0,No,No
88,BA,24,FEMALE,6,your parents,Rarely,SE,12.00,3.00,Fair,0.7,Prior to exam,Full time,56.0,No,No
89,MBA,24,MALE,8,your parents,Rarely,SE,11.10,3.00,Fair,0.7,Prior to exam,Full time,45.0,Yes,No
90,BA,29,MALE,6,you,Rarely,SG,13.00,2.50,Fair,0.3,Prior to exam,Full time,40.0,Yes,No
91,BA,23,MALE,8,you,Rarely,SE,11.00,3.30,Excellent,0.7,Prior to exam,Full time,45.0,No,Yes
92,BA,25,MALE,9,you,Rarely,BT,11.00,2.40,Excellent,0.4,Prior to exam,Full time,35.0,Yes,No
93,BA,26,FEMALE,8,your parents,Rarely,SE,12.00,2.50,Excellent,0.6,Prior to exam,Full time,40.0,Yes,No
94,MBA,27,MALE,6,you,Frequently,SE,11.00,2.37,Excellent,0.5,Frequently,Full time,60.0,Yes,No
95,BA,22,MALE,4,you,Frequently,SV,11.00,2.80,Excellent,0.8,Prior to exam,Full time,48.0,Yes,No

In [49]:
pt['Hours_sleep'].str.lstrip('//')

0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
     ...
91    NaN
92    NaN
93    NaN
94    NaN
95    NaN
Name: Hours_sleep, Length: 95, dtype: object

## REPLACE METHOD

In [63]:
pt['Work_study_related'].str.replace('NaN','') #not affecting the NaN

0     NaN
1      No
2     Yes
3      No
4      No
     ...
91     No
92    Yes
93    Yes
94    Yes
95    Yes
Name: Work_study_related, Length: 96, dtype: object

In [64]:
pt['Work_study_related'].str.replace('NaN','^')

0     NaN
1      No
2     Yes
3      No
4      No
     ...
91     No
92    Yes
93    Yes
94    Yes
95    Yes
Name: Work_study_related, Length: 96, dtype: object

In [59]:
import pandas as pd

In [60]:
pd.read_excel(r'C:\Users\PC\Desktop\Phython Data Analysis\Python Data Analysis\Academic Success Dataset.xlsx')

,Degree Level,Age,Gender,Hours_sleep,Fees,Extracurricular activities,Bac_type,Bac_grade,GPA,English_level,Attendance,Study,Work,Working hours per week,Work_study_related,Higher_Diploma
0,BA,25,Female,6,Your parents,Rarely,SV,12.0,3.23,Excellent,1.0,Prior to exam,No,0.0,NaN,Yes
1,MBA,23,Female,6,You,Rarely,SE,13.0,2.40,Fair,0.4,Prior to exam,Full time,45.0,No,No
2,BA,21,Female,5,You,Rarely,SE,18.0,4.00,Excellent,1.0,Prior to exam,Part Time,25.0,Yes,Yes
3,BA,19,Female,6,You,Rarely,SE,12.7,2.70,Poor,0.6,Prior to exam,Full time,48.0,No,No
4,BA,20,Female,6,Your parents,Frequently,SE,14.0,3.40,Excellent,0.9,Frequently,Part Time,18.0,No,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,BA,23,Male,8,You,Rarely,SE,11.0,3.30,Excellent,0.7,Prior to exam,Full time,45.0,No,Yes
92,BA,25,Male,9,You,Rarely,BT,11.0,2.40,Excellent,0.4,Prior to exam,Full time,35.0,Yes,No
93,BA,26,Female,8,Your parents,Rarely,SE,12.0,2.50,Excellent,0.6,Prior to exam,Full time,40.0,Yes,No
94,MBA,27,Male,6,You,Frequently,SE,11.0,2.37,Excellent,0.5,Frequently,Full time,60.0,Yes,No
95,BA,22,Male,4,You,Frequently,SV,11.0,2.80,Excellent,0.8,Prior to exam,Full time,48.0,Yes,No

In [61]:
pt=pd.read_excel(r'C:\Users\PC\Desktop\Phython Data Analysis\Python Data Analysis\Academic Success Dataset.xlsx')

In [62]:
pt

,Degree Level,Age,Gender,Hours_sleep,Fees,Extracurricular activities,Bac_type,Bac_grade,GPA,English_level,Attendance,Study,Work,Working hours per week,Work_study_related,Higher_Diploma
0,BA,25,Female,6,Your parents,Rarely,SV,12.0,3.23,Excellent,1.0,Prior to exam,No,0.0,NaN,Yes
1,MBA,23,Female,6,You,Rarely,SE,13.0,2.40,Fair,0.4,Prior to exam,Full time,45.0,No,No
2,BA,21,Female,5,You,Rarely,SE,18.0,4.00,Excellent,1.0,Prior to exam,Part Time,25.0,Yes,Yes
3,BA,19,Female,6,You,Rarely,SE,12.7,2.70,Poor,0.6,Prior to exam,Full time,48.0,No,No
4,BA,20,Female,6,Your parents,Frequently,SE,14.0,3.40,Excellent,0.9,Frequently,Part Time,18.0,No,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,BA,23,Male,8,You,Rarely,SE,11.0,3.30,Excellent,0.7,Prior to exam,Full time,45.0,No,Yes
92,BA,25,Male,9,You,Rarely,BT,11.0,2.40,Excellent,0.4,Prior to exam,Full time,35.0,Yes,No
93,BA,26,Female,8,Your parents,Rarely,SE,12.0,2.50,Excellent,0.6,Prior to exam,Full time,40.0,Yes,No
94,MBA,27,Male,6,You,Frequently,SE,11.0,2.37,Excellent,0.5,Frequently,Full time,60.0,Yes,No
95,BA,22,Male,4,You,Frequently,SV,11.0,2.80,Excellent,0.8,Prior to exam,Full time,48.0,Yes,No

In [65]:
pt['Work_study_related']=pt['Work_study_related'].str.replace('NaN','Y') #NaN not changing

In [66]:
pt

,Degree Level,Age,Gender,Hours_sleep,Fees,Extracurricular activities,Bac_type,Bac_grade,GPA,English_level,Attendance,Study,Work,Working hours per week,Work_study_related,Higher_Diploma
0,BA,25,Female,6,Your parents,Rarely,SV,12.0,3.23,Excellent,1.0,Prior to exam,No,0.0,NaN,Yes
1,MBA,23,Female,6,You,Rarely,SE,13.0,2.40,Fair,0.4,Prior to exam,Full time,45.0,No,No
2,BA,21,Female,5,You,Rarely,SE,18.0,4.00,Excellent,1.0,Prior to exam,Part Time,25.0,Yes,Yes
3,BA,19,Female,6,You,Rarely,SE,12.7,2.70,Poor,0.6,Prior to exam,Full time,48.0,No,No
4,BA,20,Female,6,Your parents,Frequently,SE,14.0,3.40,Excellent,0.9,Frequently,Part Time,18.0,No,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,BA,23,Male,8,You,Rarely,SE,11.0,3.30,Excellent,0.7,Prior to exam,Full time,45.0,No,Yes
92,BA,25,Male,9,You,Rarely,BT,11.0,2.40,Excellent,0.4,Prior to exam,Full time,35.0,Yes,No
93,BA,26,Female,8,Your parents,Rarely,SE,12.0,2.50,Excellent,0.6,Prior to exam,Full time,40.0,Yes,No
94,MBA,27,Male,6,You,Frequently,SE,11.0,2.37,Excellent,0.5,Frequently,Full time,60.0,Yes,No
95,BA,22,Male,4,You,Frequently,SV,11.0,2.80,Excellent,0.8,Prior to exam,Full time,48.0,Yes,No